.icon-microscope {
  background-image: url('./../img/icon-microscope.png');
  height: 69px;
  width: 50px;
}

.icon-graph {
  background-image: url('./../img/icon-graph.png');
  height: 69px;
  width: 50px;
}

.icon-key {
  background-image: url('./../img/icon-key.png');
  height: 69px;
  width: 50px;
}

.icon-gear {
  background-image: url('./../img/icon-gear.png');
  height: 69px;
  width: 50px;
}

.icon-knot {
  background-image: url('./../img/icon-knot.png');
  width: 25px;
  height: 25px;
}
