.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #50cbbe;
  transition: 0.5s;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  height: 70px;
  &__box {
    font-size: 0;
  }
  &__btn {
    display: inline-block;
    width: 232px;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 11px;
  }
}

.logo {
  font-family: 'oswald-regual', sans-serif;
  color: #3b3b3b;
  padding: 8px 0 15px;
  margin-left: 30px;
  display: inline-block;
  &__name {
    display: block;
    font-size: 25px;
    letter-spacing: 1px;
  }
  &__span {
    color: #50cbbe;
  }
  &__txt {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.1px;

  }
}

.header-nav {
  display: inline-block;
  vertical-align: top;
  margin-left: 33px;
  &__item {
    display: inline-block;
    &:first-child .header-nav__link {
      padding: 20px 5px 23px;
      font-size: 18px;
      color: #50cbbe;
    }
    &_active {
      border-bottom: 2px solid #59cbfa;
    }
  }
  &__link {
    display: block;
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #3b3b3b;
    padding: 26px 21px 25px;
    &:hover {
      color: #50cbbe;
    }
  }
}

.header-nav-btn {
  display: none;
}

.header-contacts {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  &__item {
    font-family: 'roboto-black', sans-serif;
    font-size: 14px;
    color: #3b3b3b;
    display: inline-block;
    margin: 25px 0;
  }
  &__telephone, &__time {
    color: #3b3b3b;
    font-size: 13px;
    margin: 0 10px 0 16px;
    letter-spacing: -.5px;
  }
}

.home {
  padding-top: 70px;
  background-image: url("./../img/home-bg.png");
  background-size: cover;
  height: 730px;
  &__box {
    text-align: center;
    padding-top: 158px;
  }
  &__btn {
    width: 182px;
    margin: 32px auto 0;
  }
}

.title {
  font-family: 'roboto-black', sans-serif;
  font-size: 30px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  &_big {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-top: 2px;
  }
  &_price {
    font-size: 48px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 4px 19px 7px;
    letter-spacing: .2px;
    margin-top: 19px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &_h2 {
    font-family: Roboto, sans-serif;
    font-size: 31px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.55px;
  }
  &_subtitle {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.55px;
    color: #333;
    text-transform: none;
    padding: 0 15px;
  }
  &_slider {
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    line-height: 48px;
  }
}

.about-us {
  padding: 61px 0 32px;
  background-color: #f0f0f2;
  &__items {
    margin-top: 75px;
  }
  &__item {
    text-align: center;
  }
  &__icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #d4d4d5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &:hover {
      background: linear-gradient(180deg, #34c9e3 0%, #5cccae 100%);
    }
  }
  &__txt {
    font-family: 'roboto-black', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #3b3b3b;
    width: 165px;
    margin: 0 auto;
    padding: 33px 0;
  }

}

.slider {
  position: relative;
}

.slider-item {
  position: relative;
  &__right {
    margin-top: 14%;
  }
  &__img {
    width: 100%;
  }
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__txt {
    font-family: roboto-light, sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-top: 25px;
    padding-right: 130px;
  }
  &__more {
    font-family: roboto-black, sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 26px;
    display: block;
  }
}

.slider-btns {
  position: absolute;
  top: 44%;
  z-index: 1;
  width: 100%;
  &__left, &__right {
    font-size: 35px;
    color: #fff;
    border: 2px solid #fff;
    width: 55px;
    height: 55px;
    border-radius: 56%;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background: linear-gradient(180deg, #34c9e3 0%, #5cccae 100%);
      color: #fff;
      border-color: transparent;
    }
  }
  &__left {
    float: left;
    margin-left: 30px;
  }
  &__right {
    float: right;
    margin-right: 30px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 57px;
  &__items {
    margin-top: 118px;
  }
  &__img {
    width: 100%;
    transition: .5s;
  }
  &__item {
    position: relative;
    overflow: hidden;
    &:hover .portfolio-content {
      transition: .5s;
      opacity: 1;
      &__icon {
        top: 0;
      }
      &__name, &__descr {
        bottom: 0;
      }
    }
    &:hover .portfolio__img {
      transform: scale(1.1);
    }
  }
}

.portfolio-content {
  transition: .5s;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &__icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -113px;
    transition: 0.5s;
  }
  &__top {
    display: flex;
    align-items: center;
    height: 60%;
    background: #34c9e3;
    background: linear-gradient(180deg, rgba(52, 201, 227, 0.9) 0, rgba(92, 204, 174, 0.9) 100%);
  }
  &__bottom {
    padding-top: 36px;
    text-align: center;
    height: 40%;
    background-color: rgba(240, 240, 242, 0.95);
  }
  &__name {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #333333;
    position: relative;
    bottom: -76px;
    transition: .5s;
  }
  &__descr {
    font-family: roboto-black, sans-serif;
    font-size: 14px;
    color: #333333;
    position: relative;
    bottom: -76px;
    transition: .5s;
  }
}

.btn {
  display: block;
  font-family: 'roboto-black', sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background: #34c9e3;
  padding: 16px 16px 12px;
  letter-spacing: -0.1px;
  transition: 0.5s;
}

.btn--primary {
  background: linear-gradient(0deg, #34c9e3 0%, #5cccae 100%);
  &:hover {
    background: linear-gradient(180deg, #34c9e3 0%, #5cccae 100%);
    color: #fff;
    box-shadow: 0 0 15px #59cbfa;
  }
}

.btn--second {
  background-color: #ffffff;
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
  &:hover {
    box-shadow: 0 0 15px #59cbfa;
    border-color: #fff;
    color: #59cbfa;
  }
}

.price {
  padding-top: 60px;
  padding-bottom: 27px;
  &__items {
    padding-top: 84px;
  }
}

.price-item {
  width: 270px;
  margin: 0 auto;
  border: 3px solid #f0f0f2;
  height: 580px;
  position: relative;
  &_mod {
    position: relative;
    top: -21px;
    height: 619px;
    width: 288px;
    & .price-item {
      &__head {
        padding: 32px 0;
        color: #fff;
        font-size: 29px;
        background: linear-gradient(0deg, #34c9e3 0, #5cccae 100%);
      }
      &__value {
        padding-top: 20px;
      }
      &__cost {
        font-size: 59px;
      }
      &__cost-upper {
        font-size: 34px;
      }
      &__txt {
        padding-top: 18px;
        line-height: 22px;
        padding-left: 8px;
      }
    }
  }
  &__head {
    background-color: #f0f0f2;
    text-align: center;
    font-size: 24px;
    color: #3b3b3b;
    padding: 31px 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  &__value {
    padding: 23px 36px 0 41px;
  }
  &__cost {
    font-family: 'oswald-bold', sans-serif;
    font-size: 53px;
    color: #3b3b3b;
    display: block;
    position: relative;
  }
  &__cost-middle {
    margin-right: -7px;
  }
  &__cost-upper {
    font-family: 'oswald-regual', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 5px;
  }
  &__cost-under {
    font-family: Roboto, sans-serif;
    color: #50cbbe;
    font-size: 13px;
    letter-spacing: -0.4px;
  }
  &__txt {
    font-family: roboto, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
    text-transform: uppercase;
    padding-top: 14px;
    padding-left: 6px;
    letter-spacing: -0.3px;
    line-height: 22px;
  }
  &__btn {
    position: absolute;
    bottom: 33px;
    width: 182px;
    text-align: center;
  }
}

.line {
  width: 66px;
  height: 2px;
  background-color: #50cbbe;
  margin: 32px 0
}

.contacts {
  height: 530px;
  background-image: url('./../img/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__order {
    background-color: #fff;
    border: 2px solid #f0f0f2;
    text-align: center;
    padding: 34px 29px 34px 25px;
    margin-top: 105px;
    & .title_h2 {
      font-size: 24px;
      letter-spacing: 0.2px;
    }
  }
  &__form {
    margin-top: 6px;
  }
}

input {
  width: 100%;
  text-align: center;
  border: 1px solid #f0f0f1;
  padding: 10px;
  margin: 3px 0;
  font-weight: 100;
}

input[type="submit"] {
  font-family: 'roboto-black', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: #34c9e3;
  background: linear-gradient(180deg, #34c9e3 0, #5cccae 100%);
  border: none;
  transition: 0.5s;
  margin-top: 8px;
  &:hover {
    background: linear-gradient(0deg, #34c9e3 0%, #5cccae 100%);
    color: #fff;
    box-shadow: 0 0 15px #59cbfa;
  }
}

.footer {
  background-color: #f0f0f2;
  &__logo {
    & .logo__name {
      font-size: 24px;
      letter-spacing: 0;
    }
    & .logo__txt {
      font-size: 9px;
      letter-spacing: 0;
    }
  }
  &__copyright {
    float: right;
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0.1px;
    padding: 26px 28px 26px 0;
  }
}
