.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-topper {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  height: 70px;
  &__box {
    font-size: 0;
  }
}

.logo {
  font-family: 'oswald-regual', sans-serif;
  color: #3b3b3b;
  padding: 8px 0 15px;
  margin-left: 30px;
  display: inline-block;
  &__name {
    display: block;
    font-size: 25px;
    letter-spacing: 1px;
  }
  &__span {
    color: #50cbbe;
  }
  &__txt {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.1px;

  }
}

.header-menu {
  display: inline-block;
  vertical-align: top;
}

.header-topper__btn {
  display: inline-block;
  width: 232px;
  vertical-align: top;
  margin-left: 15px;
  margin-top: 11px;

}

.header-menu {
  margin-left: 33px;
}

.menu {
  &__item {
    display: inline-block;
    &:first-child .menu__link {
      padding: 21px 5px 24px;
      position: relative;
      left: -6px;
      font-size: 18px;
      color: #50cbbe;
    }
  }
  &__link {
    display: block;
    font-family: 'roboto-light', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #3b3b3b;
    padding: 27px 21px 26px;
  }
}

.header-contacts {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  &__item {
    font-family: 'roboto-black', sans-serif;
    font-size: 14px;
    color: #3b3b3b;
    display: inline-block;
    margin: 26px 0 27px;
  }
  &__telephone, &__time {
    color: #3b3b3b;
    font-size: 13px;
    margin-left: 13px;
    letter-spacing: -.5px;
    margin-right: 10px;
  }
}

.header-home {
  padding-top: 70px;
  background-image: url("./../img/home-bg.png");
  background-size: cover;
  height: 730px;
  &__box {
    text-align: center;
    padding-top: 158px;
  }
  &__btn {
    width: 182px;
    margin: 32px auto 0;
  }
}

.title {
  font-family: 'roboto-black', sans-serif;
  font-size: 30px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  &_big {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-top: 2px;
  }
  &_price {
    font-size: 48px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 4px 19px 7px;
    letter-spacing: .2px;
    margin-top: 19px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &_h2 {
    font-family: Roboto, sans-serif;
    font-size: 31px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.55px;
  }
  &_subtitle {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.55px;
    color: #333;
    text-transform: none;
  }
  &_slider {
    font-size: 40px;
    text-transform: uppercase;
    text-align: left;
    line-height: 48px;
  }
}

.about-us {
  padding: 61px 0 32px;
  background-color: #f0f0f2;
  &__list {
    margin-top: 75px;
  }
  &__item {
    text-align: center;
  }
  &__icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid #d4d4d5;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &__txt {
    font-family: 'roboto-black', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #3b3b3b;
    width: 165px;
    margin: 0 auto;
    padding: 33px 0;
  }

}

.slider {
  position: relative;
}

.slider-item {
  position: relative;
  &__right {
    margin-top: 108px;
  }
  &__img {
    width: 100%;
  }
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__txt {
    font-family: roboto-light, sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-top: 25px;
    padding-right: 130px;
  }
  &__more {
    font-family: roboto-black, sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 26px;
    display: block;
  }
}

.slider-btns {
  position: absolute;
  top: 44%;
  z-index: 1;
  width: 100%;
  &__left, &__right {
    font-size: 35px;
    color: #fff;
    border: 2px solid #fff;
    width: 55px;
    height: 55px;
    border-radius: 56%;
    text-align: center;
  }
  &__left {
    float: left;
    margin-left: 30px;
  }
  &__right {
    float: right;
    margin-right: 30px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 57px;

}

.portfolio-list {
  margin-top: 118px;
  &__img {
    width: 100%;
    transition: .5s;
  }
  &__item {
    position: relative;
    overflow: hidden;
    &:hover .portfolio-content {
      transition: .5s;
      opacity: 1;
    }
    &:hover .portfolio-list__img {
      transform: scale(1.1);
    }
  }
}

.portfolio-content {
  transition: .5s;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &__icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__top {
    display: flex;
    align-items: center;
    height: 55%;
    background: #34c9e3;
    background: linear-gradient(0deg, rgba(52, 201, 227, 0.8) 0, rgba(92, 204, 174, 0.8) 100%);
  }
  &__bottom {
    text-align: center;
    height: 45%;
    background-color: rgba(240, 240, 242, 0.8);
  }
  &__name {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #333333;
  }
  &__descr {
    font-family: roboto-black, sans-serif;
    font-size: 14px;
    color: #333333;
  }
}

.price {
  padding-top: 60px;
  padding-bottom: 27px;
  &__list {
    padding-top: 84px;
  }
}

.btn {
  &__link {
    display: block;
    font-family: 'roboto-black', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background: #34c9e3;
    background: linear-gradient(0deg, #34c9e3 0%, #5cccae 100%);
    padding: 16px 16px 12px;
    letter-spacing: -0.1px;
  }
}

.price-item {
  width: 270px;
  margin: 0 auto;
  border: 3px solid #f0f0f2;
  height: 580px;
  position: relative;
  &_mod {
    position: relative;
    top: -21px;
    height: 619px;
    width: 288px;
    & .price-item {
      &__head {
        padding: 32px 0;
        color: #fff;
        font-size: 29px;
        background: linear-gradient(0deg, #34c9e3 0, #5cccae 100%);
      }
      &__value {
        padding-top: 20px;
      }
      &__span {
        font-size: 59px;
      }
    }
  }
  &__head {
    background-color: #f0f0f2;
    text-align: center;
    font-size: 24px;
    color: #3b3b3b;
    padding: 31px 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
  }
  &__value {
    padding: 23px 36px 0 45px;
  }
  &__span {
    font-family: 'oswald-bold', sans-serif;
    font-size: 53px;
    color: #3b3b3b;
    display: block;
    position: relative;
  }
  &__span-upper {
    font-family: 'oswald-regual', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 5px;
  }
  &__span-under {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: #50cbbe;
  }
  &__txt {
    font-family: roboto, sans-serif;
    font-size: 14px;
    color: #3b3b3b;
    text-transform: uppercase;
    padding-top: 15px;
  }
  &__btn {
    position: absolute;
    bottom: 30px;
    width: 180px;
    text-align: center;
    .btn {
      &__link {
        background-color: #ffffff;
        border: 1px solid #3b3b3b;
      }
    }
  }
}

.line {
  width: 66px;
  height: 2px;
  background-color: #50cbbe;
  margin: 32px 0
}

.contacts {
  height: 530px;
  background-image: url('./../img/map.png');
  background-size: cover;
  background-repeat: no-repeat;
  &__order {
    background-color: #fff;
    border: 2px solid #f0f0f2;
    text-align: center;
    padding: 34px 29px 34px 25px;
    margin-top: 105px;
    & .title_h2 {
      font-size: 24px;
      letter-spacing: 0.2px;
    }
  }
}

input {
  width: 100%;
  text-align: center;
  border: 1px solid #f0f0f1;
  padding: 10px;
  margin: 5px 0;
  font-weight: 100;
}

input[type="submit"] {
  font-family: 'roboto-black', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  background: #34c9e3;
  background: linear-gradient(180deg, #34c9e3 0, #5cccae 100%);
}

.footer-copyright {
  float: right;
  font-family: 'roboto-light', sans-serif;
  font-size: 12px;
  color: #333333;
  padding: 26px 15px 26px 0;
}

.footer-logo .logo__name {
  font-size: 23px;
  letter-spacing: 0;
}

.footer-logo .logo__txt {
  font-size: 9px;
  letter-spacing: 0;
}
